@use '../../../../common-styles/spacing-vars' as *;
@use '../../../../common-styles/color-vars' as color;

:host:active {
    outline: 3px solid color.$border;
    border-radius: $spacing-m;
    transition: outline 20ms ease;
}

.hub-card {
    position: relative;
    display: flex;
    width: 556px;
    height: 312px;
    border-radius: $spacing-m;
    background-color: color.$bg-secondary;
    overflow: hidden;

    &__title {
        font-size: $spacing-5xl;
        line-height: $spacing-5xl;
        width: 290px;
        margin-left: $spacing-2l;
        margin-right: $spacing-s;
        align-content: center;
        z-index: 1;
        transition: all 300ms ease;

        &_on-top {
            font-size: $spacing-xl;
            line-height: 30px;
            width: auto;
            margin-left: $spacing-l;
            margin-top: $spacing-l;
            margin-right: 0;
        }
    }

    &__image {
        flex: 1;
        border-radius: inherit;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(color.$bg-secondary, 0.95);
        opacity: 0;
        pointer-events: none;
        transition: opacity 250ms ease;
    }

    &__description {
        padding: $spacing-l;
    }

    &.title-on-top {
        flex-direction: column;
    }

    &.info-visible {
        .hub-card__overlay {
            opacity: 1;
            pointer-events: auto;
        }

        .hub-card__title {
            opacity: 0
        }
    }
}
