<div class="map">
     @if (pageTitle(); as pageTitle) {
        <page-header
            class="map__header"
            [title]="pageTitle"
            [isDetached]="true"
        />
    }
    @if (zoomActions(); as zoomActions) {
        <map-zoom
            class="map__zoom-controls"
            [zoomActions]="zoomActions"
        />
    }
    @if (mapLayers(); as mapLayers) {
        <map
            [layers]="mapLayers"
            [layerWithPointsColor]="layerWithPointsColor()"
            [pointColor]="pointColor()"
            (pointSelected)="this.toggleState($event)"
        ></map>
    }
    @if (infoText(); as infoText) {
        <map-info
            class="map__info"
            [text]="infoText"
        />
    }
    <div class="map__aside">
        @if (mapInstance(); as mapInstance) {
            <historical-line
                class="map__historical-line"
                [items]="mapInstance.points()"
                [activeItem]="activeItem()"
                [iconColor]="pointColor()"
                (itemSelected)="toggleState($event)"
            />
        }
        @if (activeItem(); as activePoint) {
            <point-info-modal
                class="map__modal"
                [data]="activePoint"
                (closeModal)="toggleState(null)"
                animate.enter="map__modal_enter"
                animate.leave="map__modal_leave"
            />
        }
    </div>
</div>
