<div class="analytics-map">
    @if (pageTitle(); as pageTitle) {
        <page-header
            class="analytics-map__header"
            [title]="pageTitle"
            [isDetached]="true"
        />
    }
    @if (zoomActions(); as zoomActions) {
        <map-zoom
            class="analytics-map__zoom-controls"
            [zoomActions]="zoomActions"
        />
    }
    @if (mapLayers(); as mapLayers) {
        <map
            [layers]="mapLayers"
            [config]="mapConfig"
            (regionSelected)="toggleModal($event)"
        ></map>
    }
    @if (activeLayer()) {
        <analytics-map-modal
            class="analytics-map__modal"
            [data]="activeLayer()!"
            (closeModal)="toggleModal(null)"
            animate.enter="analytics-map__modal_enter"
            animate.leave="analytics-map__modal_leave"
        />
    }
    @if (infoText(); as infoText) {
        <map-info
            class="analytics-map__info"
            [text]="infoText"
        />
    }
</div>
