<div class="edit-analytics-map">
    <page-header
        class="edit-analytics-map__header"
        [title]="'Редактирование карты'"
        [options]="headerOptions"
    />
    @if (zoomActions(); as zoomActions) {
        <map-zoom
            class="edit-analytics-map__zoom-controls"
            [zoomActions]="zoomActions"
        />
    }
    @if (model()?.layers; as mapLayers) {
        <map
            [layers]="mapLayers"
            [config]="config"
        ></map>
    }
    @if (true) {
        <edit-analytics-map-modal
            class="edit-analytics-map__modal"
        />
    }
</div>
