@use '../common-styles/spacing-vars' as *;
@use '../common-styles/color-vars' as color;

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app {
    &__content-wrapper {
        display: flex;
        flex: 1;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacing-m $spacing-xl;
        background-color: color.$bg-secondary;
    }

    &__footer-link {
        font-size: $spacing-l;
        line-height: $spacing-xl;
        font-weight: 700;

        &_with-icon {
            display: flex;
            gap: $spacing-xs;
        }
    }

    &__vk-logo {
        width: $spacing-xl;
        height: $spacing-xl;
    }
}
