services:
  frontend:
    image: frontend:dev
    container_name: frontend-dev-container
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "4200:4200"
      - "9222:9222"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
  backend:
    image: backend:dev
    container_name: backend-dev-container
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - db
  db:
    image: postgis/postgis:17-3.5-alpine
    container_name: db-dev
    ports:
      - "5432:5432"
    volumes:
      - ./db/postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=ta-samaya-rossiya-db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=2018
      - POSTGRES_PORT=5432
