CONNECTIONSTRINGS__MapDBConnection=Host=db;Port=5432;Database=map-db;Username=postgres;Password=postgres;

POSTGRES_DB=map-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

ConnectionStrings__Redis=redis:6379,password=redispass

ADMIN__0__EMAIL=1.admin.email@gmail.com
ADMIN__0__PASSWORD=password_example_1

ADMIN__1__EMAIL=2.admin.email@gmail.com
ADMIN__1__PASSWORD=password_example_2

ADMIN__2__EMAIL=3.admin.email@gmail.com
ADMIN__2__PASSWORD=password_example_3

Jwt__Key="3AlpZTbl8Arc45bjk5W1enz1OMVKc10Dw4gFBoG0Jpw=" --сгенерировать через "openssl rand -base64 32" в bash
Jwt__Issuer="TaSamayaRossiya.Backend"
Jwt__Audience="TaSamayaRossiya.AngularClient"
Jwt__AccessTokenExpirationMinutes="60"
Jwt__RefreshTokenExpirationHours="24"