@use '../common-styles/spacing-vars' as *;

.app {
    &__header {
        display: flex;
        align-items: center;
        padding: $spacing-xl;
    }

    &__logo {
        width: 207px;
        height: $spacing-8xl;
    }

    &__logo-link {
        margin-right: $spacing-xl;
    }

    &__content-wrapper {
        display: flex;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $spacing-m $spacing-xl;
    }

    &__footer-link {
        font-size: $spacing-l;
        line-height: $spacing-xl;
        font-weight: 700;

        &_with-icon {
            display: flex;
            gap: $spacing-xs;
        }
    }

    &__vk-logo {
        width: $spacing-xl;
        height: $spacing-xl;
    }
}
