@if (!fileControl.value) {
    <label
        class="image-uploader"
        tuiInputFiles
        [class.image-uploader_size-m]="size() === 'm'"
    >
        <input
            [accept]="fileType()"
            tuiInputFiles
            [formControl]="fileControl"
            (blur)="onTouched()"
        />
    </label>
}
<tui-files>
    @if (fileControl.value | tuiFileRejected: {accept: fileType()} | async; as file) {
        <tui-file
            [size]="size()"
            state="error"
            [file]="file"
            (remove)="removeFile()"
        />
    }
    @if (loadedFile$ | async; as file) {
        <tui-file
            [size]="size()"
            [file]="file"
            (remove)="removeFile()"
        />
    }
    @if (failedFile$ | async; as file) {
        <tui-file
            [size]="size()"
            state="error"
            [file]="file"
            (remove)="removeFile()"
        />
    }
    @if (loadingFile$ | async; as file) {
        <tui-file
            [size]="size()"
            state="loading"
            [file]="file"
            (remove)="removeFile()"
        />
    }
</tui-files>
