@use '../../../../../../common-styles/spacing-vars' as *;
@use '../../../../../../common-styles/color-vars' as color;

.point-info-modal {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 484px;
    align-items: center;
    border-radius: $spacing-m;
    background-color: color.$bg-primary;
    box-shadow: -$spacing-xs $spacing-xs $spacing-m rgba(black, 0.33);

    &__close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        align-self: flex-end;
        z-index: 1;
        margin-top: $spacing-s;
        margin-right: $spacing-s;
        padding: $spacing-s;
        border-radius: 100%;
        background-color: white;
        opacity: 0.75;
    }

    &__image {
        width: 484px;
        height: 256px;
        border-radius: $spacing-m;
        margin-bottom: $spacing-m;
    }

    &__title {
        font-size: $spacing-2l;
        line-height: $spacing-xl;
        color: color.$text-primary;
        margin-bottom: $spacing-s;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: $spacing-l;
        padding-top: 0;
        gap: $spacing-m;
    }

    &__description {
        display: block;
    }

    &__excursion-link {
        display: block;
        margin: 0 auto;
        font-weight: 600;
        color: color.$bg-accent;
    }
}
