@use '../../../../../../../common-styles/color-vars' as color;
@use '../../../../../../../common-styles/spacing-vars' as *;

.edit-analytics-map-modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    box-sizing: border-box;
    border-radius: $spacing-xl;
    background-color: color.$bg-primary;
    box-shadow: -$spacing-xs $spacing-xs $spacing-m rgba(black, 0.33);

    &__title {
        color: color.$text-primary;
        margin: $spacing-xl;
        margin-bottom: $spacing-l;
    }

    &__accordion {
        border-radius: 0;
    }

    [tuiCell] {
        padding: $spacing-s $spacing-xl;
        padding-right: $spacing-2xl;
        font-size: 20px;
        line-height: normal;
        font-weight: 700;
    }

    &__accordion-item {
        box-shadow: none;
        padding: 0 $spacing-xl;
    }

    &__field {
        &_title {
            margin: 0 $spacing-xl;
        }
    }

    &__error {
        &_title {
            font-size: 14px;
        }
    }

    &__group {
        display: flex;
        gap: $spacing-l;
        margin-bottom: $spacing-l;
    }

    &__image-uploader {
        display: flex;
        flex-direction: column;
        gap: $spacing-s;
    }

    &__image-uploader-hint {
        display: block;
        padding: $spacing-m;
        border-radius: 10px;
        background-color: color.$bg-secondary;
        font-size: 14px;
        line-height: normal;
        font-weight: 600;
    }

    &__card-preview-wrapper {
        display: flex;
        flex-direction: column;
        gap: $spacing-s;
    }

    &__card-preview {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 278px;
        height: 156px;
        background-color: color.$bg-secondary;
        border-radius: $spacing-s;
    }

    &__card-preview-title {
        margin-top: $spacing-s;
        margin-left: $spacing-s;
        font-size: $spacing-m;
        line-height: $spacing-l;
        font-weight: 800;
    }

    &__card-preview-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: $spacing-s;
        border-bottom-right-radius: $spacing-s;
    }

    &__save-button {
        margin: $spacing-xl;
        margin-top: $spacing-s;
    }
}
