@use '../../../../common-styles/spacing-vars' as *;

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX($spacing-m);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX($spacing-m);
    }
}

:host {
    display: flex;
    flex: 1;
}

.map {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    justify-content: center;

    &__header {
        position: absolute;
        z-index: 450;
        top: $spacing-m;
        left: $spacing-m;
        padding-right: $spacing-m;
    }

    &__zoom-controls {
        position: absolute;
        z-index: 500;
        left: $spacing-m;
    }

    &__info {
        position: absolute;
        z-index: 500;
        left: $spacing-m;
        bottom: $spacing-m;
    }

    &__aside {
        position: absolute;
        z-index: 500;
        top: $spacing-m;
        right: $spacing-m;

        display: flex;
        flex-direction: column;
        gap: $spacing-l;
    }

    &__modal,
    &__historical-line {
        position: static;
    }

    &__modal {
        &_enter {
            animation: fade-in 150ms ease-out;
        }

        &_leave {
            animation: fade-out 150ms ease-in;
        }
    }
}
