/* background */
$bg-primary: #FFF;
$bg-secondary: #F3F3F3;
$bg-accent: #526ED3;

/* text */
$text-primary: #191C30E5;
$text-secondary: #1B1F3BA6;
$text-tertiary: #1B1F3B66;

$border: #A6A6A6;
$border-secondary: #D9D9D9;
