$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-2l: 20px;
$spacing-xl: 24px;
$spacing-2xl: 32px;
$spacing-3xl: 40px;
$spacing-4xl: 48px;
$spacing-5xl: 56px;
$spacing-6xl: 64px;
$spacing-7xl: 72px;
$spacing-8xl: 80px;
