@use '../../../../common-styles/spacing-vars' as *;

:host {
    display: flex;
}

.main-hub {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $spacing-xl 94px;
    padding-top: $spacing-m;

    &__title {
        margin-bottom: 44px;
    }

    &__content {
        display: flex;
        gap: $spacing-xl;
        flex-wrap: wrap;
    }
}
