@use '../../../../common-styles/spacing-vars' as *;

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-hub {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $spacing-xl 94px;
    padding-top: 0;

    &__description {
        margin-bottom: $spacing-xl;
    }

    &__content {
        display: flex;
        gap: $spacing-xl;
        flex-wrap: wrap;
    }
}
