@use '../../../../common-styles/spacing-vars' as *;

.main-hub {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 44px;
    }

    &__content {
        display: flex;
        gap: $spacing-xl;
        flex-wrap: wrap;
    }
}
