<div class="edit-analytics-map-modal">
    <h2 class="edit-analytics-map-modal__title">Настройки</h2>

    <form class="edit-analytics-map-modal__form" [formGroup]="settingsForm">
        <div class="edit-analytics-map-modal__section">
            <form-field
                class="edit-analytics-map-modal__field"
                label="Название проекта"
                placeholder="Укажите название"
                [control]="settingsForm.controls.title"
            />
        </div>

        <tui-accordion class="edit-analytics-map-modal__accordion" size="l">
            <button
                class="edit-analytics-map-modal__accordion-button"
                tuiAccordion
                tuiCell
                appearance=""
                type="button"
            >
                Карточка
            </button>

            <tui-expand class="edit-analytics-map-modal__accordion-item">
                <div class="edit-analytics-map-modal__row">
                    <div class="edit-analytics-map-modal__card-preview-wrapper">
                        <span>Предпросмотр карточки</span>

                        <div class="edit-analytics-map-modal__card-preview">
                            <span class="edit-analytics-map-modal__card-preview-title">
                                {{ (settingsForm.controls.title.value || '').trim() || 'Та самая Россия' }}
                            </span>
                            <div
                                class="edit-analytics-map-modal__card-preview-image"
                                [style.background-image]="cardPreviewBackgroundImage$ | async"
                            ></div>
                        </div>
                    </div>

                    <div class="edit-analytics-map-modal__image-uploader">
                        <span>Фоновое изображение</span>
                        <image-uploader formControlName="cardBackgroundImage" />

                        <span class="edit-analytics-map-modal__image-uploader-hint">
                            Файл в формате SVG,<br />
                            с разрешением 556x266 px
                        </span>
                    </div>
                </div>

                <div class="edit-analytics-map-modal__row_last">
                    <form-field
                        class="edit-analytics-map-modal__field"
                        label="Описание"
                        placeholder="Укажите описание"
                        [control]="settingsForm.controls.cardDescription"
                        [multiline]="true"
                    />
                </div>
            </tui-expand>

            <button
                class="edit-analytics-map-modal__accordion-button"
                tuiAccordion
                tuiCell
                appearance=""
                type="button"
            >
                Карта
            </button>

            <tui-expand class="edit-analytics-map-modal__accordion-item">
                <div class="edit-analytics-map-modal__row">
                    <form-field
                        class="edit-analytics-map-modal__field"
                        label="Описание"
                        placeholder="Укажите описание"
                        [control]="settingsForm.controls.mapInfo"
                        [multiline]="true"
                    />
                </div>

                <div class="edit-analytics-map-modal__regions-list-wrapper">
                    <span class="edit-analytics-map-modal__regions-list-title">
                        Список активных регионов
                    </span>
                    <tui-scrollbar>
                        <div class="edit-analytics-map-modal__regions-list">
                            @for (region of activeRegionsList(); track region.regionName) {
                                <div class="edit-analytics-map-modal__regions-list-item-wrapper">
                                    <div class="edit-analytics-map-modal__regions-list-item">
                                        <span class="edit-analytics-map-modal__regions-list-item-title">
                                            {{ region.regionName }}
                                        </span>
                                        <div class="edit-analytics-map-modal__regions-list-item-actions">
                                            <button
                                                type="button"
                                                (click)="editActiveRegionListItem(region)"
                                            >
                                                <tui-icon
                                                    icon="@tui.pencil"
                                                    [style.font-size.rem]="1"
                                                    [style.color]="'var(--tui-background-accent-1)'"
                                                />
                                            </button>
                                            <button
                                                type="button"
                                                (click)="deleteActiveRegionListItem(region)"
                                            >
                                                <tui-icon
                                                    icon="@tui.trash"
                                                    [style.font-size.rem]="1"
                                                    [style.color]="'var(--tui-text-negative)'"
                                                />
                                            </button>
                                        </div>
                                    </div>
                                    @if (
                                        showEditingDeleteError() &&
                                        addRegionForm.controls.regionName.value === region.regionName
                                    ) {
                                        <div class="edit-analytics-map-modal__regions-list-item-error" tuiAnimated>
                                            <tui-error error="Регион редактируется" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </tui-scrollbar>

                    <button
                        type="button"
                        tuiButton
                        appearance="outline"
                        size="m"
                        (click)="toggleRegionSettingsModal(true)"
                    >
                        Добавить регион
                    </button>
                </div>


            </tui-expand>
        </tui-accordion>
    </form>

    <button
        class="edit-analytics-map-modal__save-button"
        type="submit"
        tuiButton
        size="m"
    >
        Сохранить
    </button>
</div>

@if (isModalOpen()) {
    <add-region
        class="edit-analytics-map-modal__region-settings-modal"
        [form]="addRegionForm"
        [regionsList]="allRegions()"
        (closeModal)="toggleRegionSettingsModal(false)"
        (regionSaved)="toggleRegionSettingsModal(false)"
    />
}
