<div class="auth-page">
    <form class="auth-page__form" [formGroup]="authForm">
        <div class="auth-page__form-header">
            <a
                class="auth-page__logo"
                [routerLink]="'/'"
            >
                <svg width="207px" height="80px">
                    <use href="/sprites/ta-samaya-rossiya-logo.svg" />
                </svg>
            </a>
            <h1 class="auth-page__title">
                Вход в админ-панель
            </h1>
        </div>
        <div class="auth-page__field">
            <tui-textfield>
                <input
                    formControlName="email"
                    placeholder="Электронная почта"
                    tuiTextfield
                />
            </tui-textfield>
            <tui-error
                class="auth-page__error"
                formControlName="email"
                [error]="[] | tuiFieldError | async"
            />
        </div>
        <div class="auth-page__field">
            <tui-textfield>
                <input
                    formControlName="password"
                    placeholder="Пароль"
                    tuiTextfield
                    type="password"
                />
                <tui-icon tuiPassword />
            </tui-textfield>
            <tui-error
                class="auth-page__error"
                formControlName="password"
                [error]="[] | tuiFieldError | async"
            />
            <tui-error
                class="auth-page__error"
                [formGroup]="authForm"
                [error]="[] | tuiFieldError | async"
            />
        </div>
        <button
            size="l"
            tuiButton
            type="button"
            (click)="login()"
        >
            Войти
        </button>
    </form>
</div>
