@use '../../../../common-styles/spacing-vars' as *;
@use '../../../../common-styles/color-vars' as color;

.page-header {
    display: flex;
    align-items: center;
    padding: 36px;
    background-color: color.$bg-primary;

    &__logo {
        width: 207px;
        height: $spacing-8xl;
    }

    &__logo-link {
        margin-right: $spacing-xl;
    }

    &.is-detached {
        padding: $spacing-xl;
        border-radius: $spacing-xl;
        box-shadow: $spacing-xs $spacing-xs $spacing-m rgba(black, 0.33);
    }
}
