@use './common-styles/spacing-vars' as spacing;
@use './common-styles/color-vars' as color;

/* Сброс margin */
:where(body, h1, h2, h3, h4, h5, h6) {
    margin: 0;
}

/* body */
body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Заголовки */
h1, h2, h3 {
    font-weight: 800;
}

h1 {
    font-size: spacing.$spacing-5xl;
    line-height: 70px;
    color: color.$text-primary;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    color: color.$text-secondary;
}

h3 {
    font-size: spacing.$spacing-xl;
    line-height: 30px;
    color: color.$text-secondary;
}

/** Текст */
span {
    font-weight: 600;
    color: color.$text-secondary;
}

a {
    text-decoration: none;
    color: color.$text-secondary;
    fill: currentColor;
    transition: color 50ms ease;

    &:hover, &:active {
        text-decoration: underline;
        text-decoration-thickness: 8%;
    }

    &:active {
        color: color.$text-tertiary;
    }
}

/* Теги */
button {
    all: unset;
    display: flex;
    padding: 0;
    cursor: pointer;
}

svg {
    display: block;
    flex-shrink: 0;
}

/* Стили для карт */
.map {
    &__point {
        filter: drop-shadow(0 spacing.$spacing-xs spacing.$spacing-xs rgba(0, 0, 0, 0.33));

        &_is-active {
            .map__point-icon {
                border-radius: spacing.$spacing-s;
            }
        }
    }

    &__point-icon {
        display: flex;
        width: spacing.$spacing-3xl;
        height: spacing.$spacing-3xl;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 50%;
        color: white;
        font-family: "Manrope", sans-serif;
        font-size: spacing.$spacing-2l;
        line-height: normal;
        font-weight: 800;

        transition: border-radius 150ms ease;
    }
}
