@use './common-styles/spacing-vars' as spacing;
@use './common-styles/color-vars' as color;

/* Сброс margin */

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* body */

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* текст */

h1, h2, h3 {
    display: block;
    font-weight: 800;
}

h1 {
    font-size: spacing.$spacing-5xl;
    line-height: 70px;
    color: color.$text-primary;
}

h2, h3 {
    color: color.$text-secondary;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: spacing.$spacing-xl;
    line-height: 30px;
}

/* Теги */

button {
    all: unset;
    display: flex;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: color.$text-secondary;
    fill: currentColor;

    &:hover, &:active {
        text-decoration: underline;
        text-decoration-thickness: 8%;
    }

    &:active {
        color: color.$text-tertiary;
    }
}

svg {
    display: block;
    flex-shrink: 0;
}
