@let content = data();
<button
    class="hub-card"
    type="button"
    [class.title-on-top]="content.isAnalytics"
    [class.info-visible]="isInfoState()"
    (mouseenter)="isInfoState.set(true)"
    (mouseleave)="isInfoState.set(false)"
>
    <h3
        class="hub-card__title"
        [class.hub-card__title_on-top]="content.isAnalytics"
    >
        {{ content.title }}
    </h3>

    <div
        class="hub-card__image"
        [style.background-image]="'url(' + content.backgroundImagePath + ')'"
    ></div>

    <div class="hub-card__overlay">
        <h3 class="hub-card__title_on-top">
            {{ content.title }}
        </h3>
        <span class="hub-card__description">
            {{ content.description }}
        </span>
    </div>
</button>
